{% extends 'base.html' %}

{% block title %}
 - Lista de Tarefas
{% endblock %}

{% block content%}
    <h1 class="display-4">Lista de Tarefas</h1> 
    {% if todos.count() > 0 %}
        <div class="table-responsive">
            <table class="table">
                <caption>Lista de tarefas</caption>
                <thead>
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.description }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ url_for('update', id=todo._id) }}">Editar</a>
                            |
                            <a class="btn btn-danger" href="{{ url_for('delete', id=todo._id) }}" onclick="return confirm('Are you sure?');">Deletar</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="lead">Não possui nenhuma tarefa cadastrada</p>
        <hr class="my-4">
    {% endif %}
{% endblock %}